* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f5f1ed;
}
.menu-div {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    box-shadow: 0px 0px 20px #6e6e6e4d;
}
.menu-ul {
	padding-top: 20px;
    display: flex;
    justify-content: center;
    background: transparent;
}
.menu-li {
    display: inline;
    margin: 0 2.5rem 1rem 2.5rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
    background: transparent;
}
.menu-li a {
    color: #000000;
    text-decoration: none;
    background: transparent;
}
.book-div {
    border: transparent 1px solid;
    margin-top: 1rem;
}
.main-div {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 45% 42vh;
    grid-auto-rows: minmax(150px,auto);
    justify-content: center;
    margin-bottom: 10rem;
}
.box1 {
    text-align: left;
    grid-column: span 1;
}
.box1 h1{
    font-size: 2.8rem;
    font-family: 'Bodoni Moda', serif;
    margin-top: 3rem;
    font-weight: 500;
}
.box1 p {
    margin-top: 2px;
    line-height: 1.35rem;
    letter-spacing: 0.2px;
}
.box1 a {
    text-decoration: underline 1px;
    text-decoration-color: transparent;
    color: #5c5c5c;
    font-size: 1.1rem;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
}
.box1 a:hover {
    color: #A68657;
    text-decoration: underline 1px;
    text-decoration-color: #A68657;
}
.box2 {
    grid-row: span 2;
}
.box2 img {
    width: 20rem;
    background-color: transparent;
}
.box3 {
    grid-row: span 1;
}
.box3 button {
    background: linear-gradient(to right, #947f60, #807460, #6e6e6e);
    border: 0px;
    border-radius: 0.9rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
    width: 8rem;
    height: 2.5rem;
    margin-top: 10px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}
.box3 button a {
    background: transparent;
    text-decoration: none;
    color: #f5f1ed;
}
.box3 button:hover {
    box-shadow: 1px 1px 10px 0px #80746044;
}
.main-div2 {
    display: grid;
    grid-template-columns: auto 40%;
    grid-auto-rows: minmax(150px,auto);
    justify-content: center;
    padding-top: 3rem;
}
.box4 {
    text-align: left;
    grid-column: span 1;
}
.box4 img {
    border-radius: 50%;
    width: 21rem;
    margin: 0 2rem 0 0;
}
.box5 h1{
    font-size: 2.8rem;
    font-family: 'Bodoni Moda', serif;
    margin-top: 3rem;
    font-weight: 500;
}
.box5 p {
    margin-top: 2px;
    line-height: 1.35rem;
    letter-spacing: 0.2px;
}
.box5 {
    grid-row: span 2;
}

.contact-div {
    display: grid;
    grid-template-columns: 70% auto;
    grid-auto-rows: minmax(150px,auto);
    justify-content: center;
    margin: 1rem 0 0rem 0;
    padding: 4rem 0 4rem 0;
    width: 100%;
    background-color: #6d6965;
    color: white;
}
.contact-div .box6 {
    background: transparent;
    border: 0px solid hotpink;
}
.contact-div h1 {
    background: transparent;
    color: white;
    font-size: 2.3rem;
    font-family: 'Bodoni Moda', serif;
    font-weight: 500;
}
.contact-div p {
    background: transparent;
    margin-top: 2px;
    line-height: 1.35rem;
    letter-spacing: 0.2px;
}
.contact-div .box7 {
    background-color: transparent;
    border: 0px solid green;
    margin: 0;
}
.contact-div a {
    background: transparent;
    padding: 0 0.3rem 0 0.3rem;
    border: none;
}
.contact-div .box6 {
    width: autorem;
}
.contact-div img {
    width: 24px;
}
.bottom-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0rem 0 0.5rem 0;
    width: 100%;
    background-color: #6d6965;
    color: white;
}
.bottom-div p, a {
    background: transparent;
    text-decoration: none;
    font-size: 0.7rem;
    color: #ffffff94;
}




@media (max-width: 700px) {
    .menu-li {
        margin: 0 1.5rem 1rem 1.5rem;
    }
    .main-div {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 90%;
        grid-auto-rows: minmax(150px,auto);
        justify-content: center;
    }
    .box1 {
        text-align: center;
    }
    .box1 p {
        text-align: justify;
    }
    .box2 {
        grid-row: span 1;
    }
    .box2 img {
        width: 18rem;
        margin: 20px 0 10px 0;
    }
    .box2 {
        display: flex;
        justify-content: center;
    }
    .box3 {
        display: flex;
        justify-content: center;
    }
    .box3 button {
        background: linear-gradient(to right, #947f60, #807460, #6e6e6e);
        border: 0px;
        border-radius: 1.2rem;
        font-size: 0.95rem;
        width: 10rem;
        height: 3.5rem;
        transition: none;
        -webkit-transition: none;
    }
    .box3 button:hover {
        box-shadow: none;
    }   
    
    .main-div2 {
        grid-template-columns: 90%;
    }
    .box4 {
        text-align: left;
        grid-column: span 1;
        display: flex;
        justify-content: center;
    }
    .box4 img {
        border-radius: 50%;
        width: 21rem;
        margin: 0;  
    }
    .box5 h1{
        font-size: 2.8rem;
        font-family: 'Bodoni Moda', serif;
        margin-top: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .box5 p {
        margin-top: 2px;
        line-height: 1.35rem;
        letter-spacing: 0.2px;
        text-align: justify;
    }
    .box5 {
        grid-row: span 2;
    }
    .contact-div {
        grid-template-columns: 75%;
        grid-auto-rows: minmax(auto);
        grid-template-rows: 10rem 4rem;
        margin: 5rem 0 0rem 0;
        padding: 2rem 0;
    }
    .box6 {
        text-align: center;
    }
    .box7 {
        display: flex;
        justify-content: center;
    }
    .box7 img {
        margin: 0 1rem 0 1rem;
    }
  }