* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f5f1ed;
}
.menu-div {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
}
.menu-ul {
	padding-top: 20px;
    display: flex;
    justify-content: center;
    background: transparent;
}
.menu-li {
    display: inline;
    margin: 0 2.5rem 0.2rem 2.5rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
    background: transparent;
}
.menu-li a {
    color: #000000;
    text-decoration: none;
    background: transparent;
}
.main-div {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 45% 42vh;
    grid-auto-rows: minmax(150px,auto);
    justify-content: center;
}
.box1 {
    text-align: left;
    grid-column: span 1;
}
.box1 h1 {
    font-size: 2.8rem;
    font-family: 'Bodoni Moda', serif;
    margin-top: 3rem;
    font-weight: 500;
}
.box1 p {
    margin-top: 2px;
    line-height: 1.35rem;
    letter-spacing: 0.2px;
}
.box1 a {
    text-decoration: underline 1px;
    text-decoration-color: transparent;
    color: #5c5c5c;
    font-size: 1.1rem;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
}
.box1 a:hover {
    color: #A68657;
    text-decoration: underline 1px;
    text-decoration-color: #A68657;
}
.box2 {
    grid-row: span 2;
}
.box2 img {
    width: 20rem;
    background-color: transparent;
}
.box3 {
    grid-row: span 1;}
.box3 button {
    background: linear-gradient(to right, #947f60, #807460, #6e6e6e);
    border: 0px;
    border-radius: 0.9rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
    width: 8rem;
    height: 2.5rem;
    margin-top: 10px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}
.box3 button a {
    background: transparent;
    text-decoration: none;
    color: #f5f1ed;
}
.box3 button:hover {
    box-shadow: 1px 1px 10px 0px #80746044;
}
.box1, .box2, .box3 {
    border: 0px solid firebrick;
}

@media (max-width: 700px) {
    .main-div {
        margin-top: 7rem;
        display: grid;
        grid-template-columns: 90%;
        grid-auto-rows: minmax(150px,auto);
        justify-content: center;
    }
    .box1 {
        text-align: center;
    }
    .box1 p {
        text-align: justify;
    }
    .box2 {
        grid-row: span 1;
    }
    .box2 img {
        width: 21rem;
        margin: 10px 0 10px 0;
    }
    .box3 {
        border: 0px solid firebrick;
    }
    .box3 button {
        background: linear-gradient(to right, #947f60, #807460, #6e6e6e);
        border: 0px;
        border-radius: 1.2rem;
        font-size: 1.2rem;
        letter-spacing: 3px;
        width: 13rem;
        height: 4rem;
        margin-top: 10px;
    }
    .box3 button:hover {
        box-shadow: none;
    }
  }