* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f5f1ed;
}
.menu-div {
    border-bottom: 0px solid #d3cfca;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 4rem;
    padding-bottom: 1.5rem;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    background: transparent;
}
.list-div {
    border: 0px solid greenyellow;
    width: 100%;
    background: transparent;
}
.menu-ul {
    min-width: 696px;
	list-style: none;
	padding-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 0px solid goldenrod;
    width: 100%;
    background: transparent;
}
.menu-li {
    display: inline;
    border: 0px solid blue;
    margin: 0 2.5rem 0 2.5rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
    background: transparent;
}
.menu-li a {
    color: #000000;
    text-decoration: none;
    background: transparent;
}
.main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
    border: 0px solid green;
    margin: 1rem 0 1rem 0;
    padding: 10rem 0 14rem 0;
    width: 100%;
    box-shadow: 0px 3px 10px 0px #80746000;
}
.text-div {
    border: 0px solid magenta;
    width: 40rem;
    margin: 0 1.7rem 0;
}
.text-div h2, h1, h3, p {
    text-align: left;
}
.text-div h1 {
    font-size: 2.8rem;
    font-family: 'Bodoni Moda', serif;
    color: #000000;
    margin-bottom: 0;
    padding: 0;
    font-weight: 500;
    border: 0px solid greenyellow;
}
.text-div h3 {
    margin-top: 0px;
    padding: 0;
    font-family: 'Bodoni Moda', serif;
    color: #8a7550;
    font-weight: 500;
    border: 0px solid red;
}
.text-div p {
    margin-top: 20px;
    line-height: 1.35rem;
    letter-spacing: 0.2px;
}
.text-div .goodreads {
    text-decoration: underline 1px;
    text-decoration-color: transparent;
    color: #5c5c5c;
    font-size: 1.1rem;
    transition: 0.3s linear;
    -o-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
}
.text-div .goodreads:hover {
    color: #A68657;
    text-decoration: underline 1px;
    text-decoration-color: #A68657;
}
.book-div img {
    border: 0px solid gray;
    width: 20rem;
    margin: 0 0 0 1.7rem;
}
.main-div button {
    background: linear-gradient(to right, #947f60, #807460, #6e6e6e);
    border: 0px;
    border-radius: 0.9rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
    width: 8rem;
    height: 2.5rem;
    margin-top: 1.5rem;
    transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}
.main-div a {
    color: white;
}
.main-div button:hover {
    box-shadow: 1px 1px 10px 0px #80746044;
}
.main-div2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
    border: 0px solid green;
    margin: 1rem 0 1rem 0;
    padding: 6rem 0 17rem 0;
    width: 100%;
}
.main-div2 .text-div {
    background: transparent;
}
.main-div2 h1 {
    background: transparent;
}
.main-div2 p {
    background: transparent;
    letter-spacing: 0.2px;
}
.main-div2 .book-div {
    background: transparent;
}
.donna {
    border-radius: 50%;
}
.contact-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
    border: 0px solid green;
    margin: 1rem 0 0rem 0;
    padding: 6rem 0 6rem 0;
    width: 100%;
    background-color: #6d6965;
    color: white;
}
.contact-div .text-div {
    background: transparent;
}
.contact-div h1 {
    background: transparent;
    color: white;
}
.contact-div p {
    background: transparent;
    letter-spacing: 0.2px;
}
.contact-div .social-media {
    background-color: transparent;
    border: 0px solid green;
    margin: 0;
}
.contact-div a {
    background: transparent;
    padding: 0 0.3rem 0 0.3rem;
    border: none;
}
.contact-div .text-div {
    width: 45rem;
}
.contact-div img {
    width: 24px;
}
.bottom-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 0 0.5rem 0;
    width: 100%;
    background-color: #6d6965;
    color: white;
}
.bottom-div p, a {
    background: transparent;
    text-decoration: none;
    font-size: 0.7rem;
    color: #ffffff94;
}


@media (max-width: 400px) {
    .menu-div {
      display: block;
    }
  }